---
import Logo from "../components/logo.astro";
import { Sprite } from "astro-icon";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Valink Solutions</title>
    <link rel="stylesheet" href="/styles/global.css" />
  </head>
  <body
    class="relative flex min-h-screen w-screen items-center justify-center overflow-x-hidden bg-gradient-to-br from-purple-500 to-purple-800 p-2 text-white md:p-4"
  >
    <div class="absolute -z-50 h-full w-full bg-slate-900 opacity-60"></div>
    <div class="flex max-w-sm flex-col gap-6 md:max-w-prose">
      <div class="flex flex-col gap-2 lg:gap-3">
        <div class="h-36 text-center md:h-40">
          <Logo />
        </div>
        <h1
          class="font-arvo text-center text-lg font-bold md:text-xl"
          style="letter-spacing: 0.16em;"
        >
          Creating Powerful & Effecient Software Solutions
        </h1>
      </div>

      <div class="flex flex-col gap-2 rounded bg-slate-900 bg-opacity-25 p-4">
        <h1
          class="font-arvo border-l-4 border-purple-500 pl-3 text-left text-2xl font-black"
        >
          About Us
        </h1>
        <p class="max-w-sm tracking-wide md:max-w-prose">
          Based in Ontario, Canada, Valink Solutions is a software development
          firm that excels in backend development. With a strong focus on
          innovation and client satisfaction, our team of skilled developers
          creates bespoke software solutions tailored to each client's unique
          needs. But our passion doesn't stop there; we also dedicate our time
          and expertise to crafting software for personal use and projects aimed
          at bettering communities.
        </p>
        <p class="max-w-sm tracking-wide md:max-w-prose">
          One of our noteworthy community-focused initiatives is <a
            class="font-bold hover:text-purple-500"
            href="http://github.com/Valink-Solutions/ChunkVault-Lite"
            target="_blank"
            rel="noopener noreferrer">ChunkVault</a
          >, a Minecraft world backup system that ensures the seamless
          preservation of players' virtual worlds. This project is complemented
          by Teller, a user-friendly client that interfaces with ChunkVault to
          provide an intuitive experience for players. Although both projects
          are currently in the early proof-of-concept stages, our commitment to
          developing technologies that resonate with users is unwavering.
        </p>
        <p class="max-w-sm tracking-wide md:max-w-prose">
          At Valink Solutions, our goal is not only to build software that meets
          the demands of today's ever-evolving digital landscape but also to
          create solutions that enrich the lives of those who use them. By
          embracing challenges and pushing the boundaries of what's possible, we
          continue to grow and innovate, ensuring that our clients, our users,
          and our communities all reap the benefits of our expertise.
        </p>
      </div>

      <div class="flex flex-col gap-2 rounded bg-slate-900 bg-opacity-25 p-4">
        <h1
          class="font-arvo border-l-4 border-purple-500 pl-3 text-left text-2xl font-black"
        >
          Get In Touch
        </h1>
        <div
          class="flex flex-row justify-around rounded bg-slate-900 bg-opacity-50 p-4"
        >
          <Sprite.Provider>
            <a
              href="https://twitter.com/valink_io"
              target="_blank"
              class="text-2xl font-bold hover:text-purple-500"
            >
              <Sprite pack="mdi" name="twitter-box" size="60px" />
            </a>
            <a
              href="https://facebook.com/valinksolutions"
              target="_blank"
              class="text-2xl font-bold hover:text-purple-500"
            >
              <Sprite pack="mdi" name="facebook-box" size="60px" />
            </a>
            <a
              href="https://www.instagram.com/valink.io/"
              target="_blank"
              class="text-2xl font-bold hover:text-purple-500"
            >
              <Sprite pack="mdi" name="instagram" size="60px" />
            </a>
            <a
              href="https://www.linkedin.com/company/valink-solutions/"
              target="_blank"
              class="text-2xl font-bold hover:text-purple-500"
            >
              <Sprite pack="mdi" name="linkedin-box" size="60px" />
            </a>
            <a
              href="mailto:jake@valink.io"
              target="_blank"
              class="text-2xl font-bold hover:text-purple-500"
            >
              <Sprite pack="mdi" name="email" size="60px" />
            </a>
          </Sprite.Provider>
        </div>
      </div>
    </div>
  </body>
</html>
