---
import MainLayout from "../layouts/mainLayout.astro";
import { Image } from "astro:assets";
import RuriteBanner from "../images/rurite-banner.jpg";
import ChunkVaultBanner from "../images/chunkvault-banner.jpg";
---

<MainLayout title="Projects" current_page="projects">
  <div class="container mx-auto flex flex-col gap-4 p-4">
    <h1 class="border-l-4 border-primary pl-2 text-2xl font-semibold">
      Our Projects
    </h1>
    <ul class="flex grid-cols-2 flex-col gap-4 lg:grid">
      <li class="card card-border bg-base-100">
        <figure>
          <Image
            src={RuriteBanner}
            alt="Rurite an open-source note taking application."
            loading="eager"
          />
        </figure>
        <div class="card-body">
          <h2 class="card-title -my-4">Rurite - Secure Note Taking</h2>
          <div class="divider"></div>
          <p>
            Rurite is an open source, cross-platform note-taking application
            built with Tauri & SvelteKit. Developed as a passion project, it
            enables seamless syncing of notes across multiple devices.
          </p>
          <div class="card-actions justify-end">
            <a href="https://rurite.app" target="_blank" class="btn btn-primary"
              >See More</a
            >
          </div>
        </div>
      </li>

      <li class="card card-border bg-base-100">
        <figure>
          <Image
            src={ChunkVaultBanner}
            alt="ChunkVault a minecraft world backup and viewing tool."
            loading="eager"
          />
        </figure>
        <div class="card-body">
          <h2 class="card-title -my-4">
            ChunkVault - A Minecraft Backup Ecosystem
          </h2>
          <div class="divider"></div>
          <p>
            ChunkVault, an open-source creation by the company's owner,
            comprises Teller (Desktop) for Minecraft world backup and
            restoration and Vault (Backend), an open-source server facilitating
            saving to diverse locations. This approach fosters transparency and
            community collaboration in developing a robust solution for users.
          </p>
          <div class="card-actions justify-end">
            <a
              href="https://docs.chunkvault.com/teller/01-getting-started/"
              target="_blank"
              class="btn btn-primary">See More</a
            >
          </div>
        </div>
      </li>
    </ul>
  </div>
</MainLayout>
