---
import MainLayout from '../layouts/mainLayout.astro';
---

<MainLayout title="Projects" current_page="projects">
    <div class="container mx-auto flex flex-col p-4 gap-4">
        <h1 class="border-l-4 border-purple-400 pl-2 text-2xl font-semibold">Our Projects</h1>
        <h2 class="text-center w-full text-2xl font-semibold">Coming Soon.</h2>
    </div>
</MainLayout>
