---
import MainLayout from "../layouts/mainLayout.astro";
---

<MainLayout title="Services" current_page="services">
  <div class="container mx-auto gap-2 p-4">
    <h2 class="border-l-4 border-l-secondary pl-2 text-2xl font-semibold">
      Bridging Tradition and Technology
    </h2>

    <p class="mt-2">
      At Valink Solutions, we are dedicated to creating a connected era that
      harmonizes tradition and technology. Our suite of services includes
      cutting-edge IT solutions, software development, and creative services
      tailored to meet the diverse needs of all communities.
    </p>

    <div
      class="card relative mt-6 flex flex-col border-4 border-base-content bg-base-100 p-4"
    >
      <div
        class="card absolute -top-4 rounded-box border-4 border-base-content bg-base-100 p-1 px-2"
      >
        <h1 class="font-bold uppercase">Our Services</h1>
      </div>

      <h3
        class="mb-2 mt-6 border-l-4 border-l-primary pl-2 text-xl font-semibold"
      >
        IT Solutions
      </h3>
      <p>
        Harnessing cutting-edge Rust and ARM-based technologies, our IT
        solutions deliver reliable, secure, and scalable systems. We extend the
        benefits of modern technology to all communities, recognizing the
        significance of connectivity in today's world.
      </p>

      <h3
        class="mb-2 mt-4 border-l-4 border-l-primary pl-2 text-xl font-semibold"
      >
        Software Development
      </h3>
      <p>
        Our expert developers use Rust and Python to craft bespoke software
        solutions. From community-specific applications to tools preserving
        cultural knowledge, we build software aligned with values and traditions
        while embracing modernity.
      </p>

      <h3
        class="mb-2 mt-4 border-l-4 border-l-primary pl-2 text-xl font-semibold"
      >
        Creative Services
      </h3>
      <p>
        Beyond technology, our graphic design team, specializing in sports logos
        and digital art, offers services that celebrate cultural heritage while
        embracing modern aesthetics. We collaborate to ensure designs reflect
        tradition, creating visually compelling representations.
      </p>
    </div>

    <h2 class="mt-8 border-l-4 border-l-secondary pl-2 text-2xl font-semibold">
      Community-Centric Approach
    </h2>
    <p class="mt-2">
      At Valink Solutions, our mission extends beyond being a technology
      provider. We pride ourselves on being a hub of innovation and respect for
      tradition, actively engaging with communities, offering not just services
      but meaningful partnerships in the restoration of traditions and
      medicines. By intertwining cutting-edge technology with cultural
      preservation, we contribute to the broader healing journey, addressing
      both the technological and holistic needs of Aboriginal communities.
    </p>

    <h2 class="mt-8 border-l-4 border-l-secondary pl-2 text-2xl font-semibold">
      Get in Touch
    </h2>
    <p class="mt-2">
      Ready to embark on a transformative journey with us? Reach out to discuss
      how our services, often at reduced rates or pro bono, can benefit your
      community. Click the button below to contact us.
    </p>

    <a
      href="mailto:contact@valink.io?subject=Business Inquiry"
      class="btn btn-secondary mt-2 w-full"
    >
      Contact Us
    </a>
  </div>
</MainLayout>
