---
import { Image } from "astro:assets";
import CarigoLogo from "../images/carigo-dark.svg";
import TempleLogo from "../images/temple-logo.png";

const clients = [
  {
    name: "Carigo Automotive Detailing",
    logo: CarigoLogo,
    url: "https://carigo.ca",
  },
  // { name: "Temple Medicinal Inc", logo: TempoleLogo, url: "https://templemedicinal.com/" },
];
---

<!-- Client List Component -->
<div class="clients-list rounded-box bg-neutral">
  {
    clients.map((client) => (
      <a
        href={client.url}
        target="_blank"
        rel="noopener noreferrer"
        class="client group"
      >
        <Image
          src={client.logo}
          alt={`Logo of ${client.name}`}
          class="client-logo"
          loading="eager"
        />
        <p class="font-bold text-neutral-content opacity-0 group-hover:opacity-50">
          {client.name}
        </p>
      </a>
    ))
  }
</div>

<style>
  .clients-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 20px 0 20px;
  }
  .client {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    text-decoration: none;
  }
  .client-logo {
    width: 150px; /* Adjust size as needed */
    height: auto;
    margin-bottom: 8px;
  }
</style>
