---
import { Sprite } from "astro-icon";
import Logo from "../components/logo.astro";

const { current_page } = Astro.props;
---

<script>
  let burger: Element = document.querySelector(".navbar-burger") as Element;
  let menu: Element = document.querySelector(".navbar-menu") as Element;

  burger.addEventListener("click", function () {
    menu.classList.toggle("hidden");
  });
</script>

<script>
  // @ts-nocheck
  let theme = localStorage.getItem("theme");
  if (!theme) {
    theme = window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "neubrutalism-dark"
      : "neubrutalism";
  }
  document.body.dataset.theme = theme;

  const themeSelector = document.querySelector("#themeSelector");
  themeSelector.value = theme;

  themeSelector.addEventListener("change", function () {
    theme = this.value;
    document.body.dataset.theme = theme;
    localStorage.setItem("theme", theme);
  });
</script>

<header class="card bg-base-100 text-base-content">
  <div class="container mx-auto grid grid-cols-3 p-4">
    <a href="/" class="col-span-1 col-start-1 w-52">
      <Logo />
    </a>
    <div
      class="col-span-1 col-start-3 flex items-center justify-end text-right lg:hidden"
    >
      <button class="navbar-burger fill-base-content">
        <Sprite pack="mdi" name="menu" class="h-10 w-10 text-base-content" />
      </button>
    </div>
    <nav
      class="navbar-menu col-span-3 row-start-2 mt-4 hidden items-center justify-end lg:col-span-2 lg:col-start-2 lg:row-start-1 lg:mt-0 lg:flex"
    >
      <div class="flex flex-col items-center gap-4 lg:flex-row">
        <a
          href="/"
          class={`btn w-full lg:max-w-[100px] ${
            current_page === "home" ? "btn-primary" : ""
          }`}>Home</a
        >
        <a
          href="/projects"
          class={`btn w-full lg:max-w-[100px] ${
            current_page === "projects" ? "btn-primary" : ""
          }`}>Projects</a
        >
        <!-- <a
          href="/hardware"
          class={`btn w-full lg:max-w-[100px] ${
            current_page === "hardware" ? "btn-primary" : ""
          }`}>Hardware</a
        > -->
        <a
          href="/services"
          class={`btn w-full lg:max-w-[100px] ${
            current_page === "services" ? "btn-primary" : ""
          }`}>Services</a
        >
        <div class="flex w-full flex-row lg:w-[170px]">
          <select id="themeSelector" class="select w-full">
            <option value="neubrutalism">Light</option>
            <option value="neubrutalism-dark">Dark</option>
          </select>
        </div>
      </div>
    </nav>
  </div>
</header>
